<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div>
      <table class="table is-bordered is-striped is-hoverable">
        <tr>
          <th>Title</th>
          <th>URL</th>
          <th>Device</th>
          <th>Visit</th>
          <th>Duration</th>
        </tr>
        {{range .histories}}
        <tr>
          <td>{{.title}}</td>
          <td style="max-width: 500px; word-wrap: break-word"><a href="{{.url}}" target="_blank">{{.url}}</a></td>
          <td>{{.device}}</td>
          <td>{{.created_at}}</td>
          <td>{{.duration}}</td>
        </tr>
        {{end}}
      </table>
      <a href="{{.prev_url}}" class="button">Prev</a>
      <a href="{{.next_url}}" class="button">Next</a>
    </div>
  </body>
</html>
