<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historia | Login</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
      integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        height: 100vh;
        align-content: center;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="columns is-centered">
        <div class="column is-4 is-6-touch is-12-mobile">
          <form action="/login" method="post">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  {{ if .err_msg }}
                  <p style="color: red">{{ .err_msg }}</p>
                  {{ end }}
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                      <input class="input" type="email" placeholder="Email" name="email" />
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                      <input class="input" type="password" placeholder="Password" name="password" />
                      <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <footer class="card-footer">
                <button href="#" class="card-footer-item">Login</button>
              </footer>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
